@font-face {
	font-family: 'p5hatty';
	src: url(../../assets/fonts/p5hatty.woff2) format('woff2'),
	url(../../assets/fonts/p5hatty.woff) format('woff'),
	url(../../assets/fonts/p5hatty.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}