.modal-content {
  background: #af0404;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #af0404, #FF0033);
  background: -moz-linear-gradient(right, #af0404, #FF0033);
  background: -o-linear-gradient(right, #af0404, #FF0033);
  background: linear-gradient(to left, #af0404, #FF0033);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.modal-body {
  padding: 8% 0 0;
  margin: auto;
  width: 360px;
}
.modal-body .container {
  position: relative;
  background: #000000;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.modal-body .container .list-group {
  max-height: 300px;
  text-align: left;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.modal-body .container .list-group-item {
  color: black;
  line-height: 50px;
  text-align: left;
}
.modal-body .container .list-group-item:hover {
  background-color: #C0C0C0;
}
.modal-body .container .fas {
  position: absolute;
  top: 1em;
  color: #f2f2f2;
}
.modal-body .container .fa-check-circle {
  left: 1em;
}
.modal-body .container .fa-user-shield {
  left: 3em;
}
.modal-body .container .fa-check {
  color: #50C878;
  right: 1em;
  font-size: 25px;
}
.modal-body .container input {
  font-family: "Electrolize", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.modal-body .container img {
  width: 200px;
  height: 200px;
}
.modal-body .container img.preview {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 40px;
}
.modal-body .container button {
  font-family: "p5hatty", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #252525;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.modal-body .container button:hover, .modal-body .container button:active, .modal-body .container button:focus {
  background: #414141;
}
.modal-body .container .change-pic {
  display: none;
}
.modal-body .container .verify-acc {
  display: none;
}
.modal-body .container .verify-acc .message {
  width: 80%;
  margin: 2em auto;
}
.modal-body .container #fileToUpload {
  color: #1a1a1a;
}
.modal-body .container .message {
  font-family: "Electrolize", sans-serif;
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}
.modal-body .container .message a {
  color: #DCDCDC;
  text-decoration: none;
}
.modal-body .container .message a:hover {
  color: white;
}
.modal-body .container .register-form {
  display: none;
}
.modal-body .container .container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}
.modal-body .container .container:before, .modal-body .container .container:after {
  content: "";
  display: block;
  clear: both;
}
.modal-body .container .container .info {
  margin: 50px auto;
  text-align: center;
}
.modal-body .container .container .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 36px;
  font-weight: 300;
  color: #1a1a1a;
}
.modal-body .container .container .info span {
  color: #4d4d4d;
  font-size: 12px;
}
.modal-body .container .container .info span a {
  color: #000000;
  text-decoration: none;
}
.modal-body .container .container .info span .fa {
  color: #EF3B3A;
}
.modal-body.admin-pane {
  width: 600px;
}
.modal-body.admin-pane .container {
  max-width: 500px;
}

@media (max-width: 360px) {
  .login-page {
    width: 90%;
  }
}

/*# sourceMappingURL=popup.css.map */
