input{
	color: black;
}
.rounded-circle {
	&.right-shadow {
		-moz-box-shadow: 15px 15px 5px #ffffff;
		-webkit-box-shadow: 15px 15px 5px #ffffff;
		box-shadow: 15px 15px 2px #ffffff;
	}
  &.left-shadow {
  	-moz-box-shadow: 15px 15px 5px #ffffff;
  	-webkit-box-shadow: 15px 15px 5px #ffffff;
  	box-shadow: -15px 15px 2px #ffffff;
  }
}
.email-validity, .profile-notification, .upload-validity, .login-validity{
	font-family:"p5hatty";
	&.valid {
		color: #50C878
	}
	&.invalid{
		color: tomato;
		text-decoration: underline;
	}
}
.deactivated {
	display: none;
}
.phantom-text {
	font-family: 'Electrolize';
}
body {
	color: white;
	background: url("../img/zigzag.png") center / cover no-repeat, linear-gradient(#4d4d4d, #000000);
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  background: url("../img/giphy.gif") center/cover no-repeat;
  z-index: 1;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  display: block;
}
.overlay.hidden {
  display: none;
}

h1 {
	font-family: 'p5hatty';
}

.hacker-font {
	font-family: 'p5hatty';
	letter-spacing: 2px;
}

.error {
	font-family: 'p5hatty';
	font-size: 1.2em;
}

.dropdown-toggle {
	.dropdown-menu {
		display: none;
	}


	&.show {
		.dropdown-menu {
			display: block;
			background-color: #080808;
			right: 0;
		}
	}
}

header.masthead {
	.masthead-content {
		.masthead-subheading {
			background: url("../../assets/img/takeyourheart.png") center / contain no-repeat;
			height: 2em;
		}
	}
}

.logo, svg {
	height: 15em;
}

.profile-pic {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

.hero-section {
	background: url("../../assets/img/hero2.png") right / cover no-repeat !important;
}

@media (min-width: 992px) {
	.hero-section {
		background: url("../../assets/img/hero2.png") bottom / cover no-repeat !important;
	}
}

nav {
	padding: 0.5rem;
	background-color: #080808 ;
}

.dropdown-menu {
  &.show {
  background-color: #080808 ;
	right:10px;
  }
}

.nav-link, .dropdown-item, .dropdown-toggle {
	&:hover {
		color: rgb(255,255,255,0.9) ;
    background-color: #080808 ;
    text-decoration: none;
	}
	color: rgb(255,255,255,0.5) ;
	font-family: 'p5hatty';
	font-size: 1.5em;
}

.navbar-brand {
	background: url("../../assets/img/phantomThievesLogo.png") center / cover no-repeat;
	width: 50px;
	height: 50px;
}
.calling-card {
	font-family: 'Earwig Factory';
}
.navbar-light {
	.navbar-toggler {
		color: white;
	}
}
.section-link {
	&:hover {
		transform: scale(1.2);
		transition: .3s all;
		cursor: pointer;
	}
}

.nav-link {
	font-size: 1.4em;
}
@media (max-width: 575px) {
	.hacker-font{
		font-size: 2.9rem;
		letter-spacing: 1px;
	}
	.error {
		font-size: 1em;
	}

}

footer {
  height:3em ;
  padding: 1em 0;
  background-color: #080808 ;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
